
body {
	font-family: 'Permanent Marker', cursive;
}

header, footer {
	margin: 1rem 0;
	/* padding: 1rem 0; */
	text-align: center;
}

header > h1 {
	margin: 0;
}

.mainContent {
	border: 1px solid black;
	height: 65vh;
	text-align: center;
}

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
	padding: 2rem;
}
.slide > h2 {
	font-size: 1.5rem;
	width: 100%;
}

.slide > span {
	font-size: 1rem;
	margin: 0 1rem 0 0;
}

.hideSlides {
	display: none;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
}